<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.tigris.subversion.subclipse.core.PreferenceInitializer"/>
	</extension>
   	   
	<extension
         point="org.eclipse.team.core.ignore">
    	<ignore
            enabled="true"
            pattern=".ivc">
		</ignore>
 		
	</extension>

	<extension point="org.eclipse.team.core.repository">     
    	<repository            
    		class="ivc.repository.IVCRepositoryProvider"            
    			id="ivc.reprovider"
    			metaFilePaths=".ivc,.project" >
    	</repository>    
	</extension>

	<extension
		point="org.eclipse.team.ui.configurationWizards">
		<wizard
			name="IVC"
			icon="share_icon.png"	
			class="ivc.wizards.sharing.SharingWizard"
			id="ivc.wizards.sharing.SharingWizard">
		</wizard>
	</extension>
	<extension
	      point = "org.eclipse.ui.newWizards">
		<category
		   id = "ivc"
		   name="IVC">
		</category>
	 	<wizard
		   id = "ivc.wizards.checkout.checkoutWizard"
	      	   name = "IVC"
		   class="ivc.wizards.checkout.CheckoutWizard"
		   
		   project="true"
		   icon="share_icon.png">
	    	   <description>Checkout new cool ivc project</description>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.actionSets">
	    <actionSet
	            id="ivc.actionSets"
	            label="cacats"
	            visible="true">
	         <action
	               class="ivc.fireworks.actions.CompareEditorAction"
	               id="ivc.fireworks.actions.compare"
	               label="Compare"
	               menubarPath="visible">
	         </action>
	         
	         <action
	               class="ivc.fireworks.actions.TestAction"
	               id="ivc.fireworks.actions.test"
	               label="Test"
	               menubarPath="visible">
	         </action>
	      
	      </actionSet>    
    </extension>
    
    
    
	<extension point="org.eclipse.ui.decorators">
			<decorator
			        objectClass="org.eclipse.core.resources.IResource"
			        adaptable="true"
			        label="Decor"
			        state="false"
			        class="org.eclipse.team.internal.ccvs.ui.CVSDecorator"
			        id="org.eclipse.team.cvs.ui.decorator">
			     <description>
			       Weird decoraors
			     </description>
			</decorator>
	</extension>


	<extension point="org.eclipse.ui.decorators"> 
		<decorator 
	    	id="ivc.fireworks.decorators.Decorator" 
	    	label="Decorator Example" 
	    	state="false" 
	    	class= "ivc.fireworks.decorators.Decorator" 
	  		objectClass="org.eclipse.core.resources.IResource" 
	    	adaptable="true"> 
		    <description> 
		      Decorator 
		    </description> 
		</decorator> 
	</extension>
	
	 
		<extension
	       point="org.eclipse.ui.popupMenus">
	    <objectContribution
	          id="ivc.contribution.versionedFiles"
	          objectClass="org.eclipse.core.resources.mapping.ResourceMapping"
	          adaptable="true">
	       
	       <action
	             class="ivc.fireworks.actions.CommitAction"             
	             id="ivc.actions.Commit"
	             label="Commit"
	             menubarPath="team.main/group1">
	       </action>
	       
	       <action
	             class="ivc.fireworks.actions.UpdateAction"             
	             id="ivc.actions.Update"
	             label="Update"
	             menubarPath="team.main/group1">
	       </action>
	       
	    </objectContribution>
	 </extension>
	 <extension
	       point="org.eclipse.team.ui.synchronizeWizards">
	 </extension>
  
	  <extension
         id="ivc.Marker"
         name="Markers"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="sample.baseMarkerAnnotation"
            icon="icons/extract.gif">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="ivc.Marker"
            name="sample.baseMarkerAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/key.gif"
            id="sample.baseMarkerAnnotation"
            markertype="ivc.Marker">
      </imageprovider>
   </extension>




<!--   <extension
         id="annotation"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="utcn.annotation.Main">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="utcn.annotation.Perspective"
            id="Plugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="utcn.annotation.View"
            id="Plugin.view">
      </view>
   </extension>-->

</plugin>
