<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.tigris.subversion.subclipse.core.PreferenceInitializer"/>
	</extension>
   	   
	<extension
         point="org.eclipse.team.core.ignore">
    	<ignore
            enabled="true"
            pattern=".ivc">
		</ignore>
 		
	</extension>

	<extension point="org.eclipse.team.core.repository">     
    	<repository            
    		class="ivc.repository.IVCRepositoryProvider"            
    			id="ivc.reprovider"
    			metaFilePaths=".ivc,.project" >
    	</repository>    
	</extension>

	<extension
		point="org.eclipse.team.ui.configurationWizards">
		<wizard
			name="IVC"
			icon="share_icon.png"	
			class="ivc.wizards.sharing.SharingWizard"
			id="ivc.wizards.sharing.SharingWizard">
		</wizard>
	</extension>
	
	
	<extension point="org.eclipse.ui.actionSets">
	    <actionSet
	            id="ivc.actionSets"
	            label="TestL"
	            visible="true">
	         <action
	               class="ivc.fireworks.actions.CompareEditorAction"
	               id="ivc.fireworks.actions.compare"
	               label="Compare"
	               menubarPath="visible">
	         </action>
	      </actionSet>
    </extension>
    
	<extension point="org.eclipse.ui.decorators">
			<decorator
			        objectClass="org.eclipse.core.resources.IResource"
			        adaptable="true"
			        label="Decor"
			        state="false"
			        class="org.eclipse.team.internal.ccvs.ui.CVSDecorator"
			        id="org.eclipse.team.cvs.ui.decorator">
			     <description>
			       Weird decoraors
			     </description>
			</decorator>
	</extension>
	
	



	<extension point="org.eclipse.ui.decorators"> 
		<decorator 
	    	id="ivc.fireworks.decorator.Decorator" 
	    	label="Decorator Example" 
	    	state="false" 
	    	class= "ivc.fireworks.decorator.Decorator" 
	  		objectClass="org.eclipse.core.resources.IResource" 
	    	adaptable="true"> 
		    <description> 
		      This is an example to illustrate the use of decorators 
		    </description> 
		</decorator> 
	</extension>



<!--   <extension
         id="annotation"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="utcn.annotation.Main">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="utcn.annotation.Perspective"
            id="Plugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="utcn.annotation.View"
            id="Plugin.view">
      </view>
   </extension>-->

</plugin>